*.DS_Store

build/*

*.pyc

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
test/tests
test
builds
Debug
Release
./x64
*.zip
kallisto*
src/kallisto
src/unused
src/*.a
src/pthread.h
src/sched.h
src/semaphore.h
src/htslib/unused
CTestTestfile.cmake
*~
*.orig
